<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.AdminAfficheMapper">

    <select id="getAffiche" parameterType="java.util.Map" resultType="com.cykj.housewifery.bean.Affiche">
        select id,releasr_date,title,describes from tb_affiche where 1=1

        <if test="condition.title !=null">
            and title like CONCAT('%',#{condition.title},'%')
        </if>

        <if test="curPage!= null and pageSize!= null">
            limit #{curPage},#{pageSize};
        </if>

    </select>

    <select id="selectRecord" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(id) from tb_affiche where 1=1
        <if test="condition.title != null and condition.pageSize!= ''">
            and title like CONCAT('%',#{condition.title},'%')
        </if>
    </select>

    <delete id="deleteAffiche" parameterType="com.cykj.housewifery.bean.Affiche">
        delete from tb_affiche where id = #{id}
    </delete>

    <insert id="addTAffiche" parameterType="com.cykj.housewifery.bean.Affiche">
        insert into tb_affiche(title,describes,releasr_date)
        values (#{affiche.title},#{affiche.describes},#{affiche.releasrDate})
    </insert>

    <update id="updateAffiche" parameterType="com.cykj.housewifery.bean.Affiche">
        update tb_affiche
        <set>
            <if test="affiche.title !=null and affiche.title != ''">
                title=#{affiche.title},
            </if>

            <if test="affiche.describes !=null and affiche.describes != ''">
                describes=#{affiche.describes},
            </if>

            <if test="affiche.releasrDate !=null and affiche.releasrDate != ''">
                releasr_date=#{affiche.releasrDate},
            </if>

        </set>
        where id=#{affiche.id}
    </update>

</mapper>
