<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.AdminAreacMapper">

    <select id="getAreac" parameterType="java.util.Map" resultType="com.cykj.housewifery.bean.ServiceArea">
        select s1.id,s1.area,s1.date,s2.id ,s2.name,s2.address,s2.phone,s2.entry_date,s2.legal from tb_service_area s1
        left join tb_company s2 on s1.id = s2.area where 1=1

        <if test="condition.area !=null">
            and s1.area like CONCAT('%',#{condition.area},'%')
        </if>

        <if test="curPage!= null and pageSize!= null">
            limit #{curPage},#{pageSize};
        </if>

    </select>

    <select id="selectRecord" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)
        from tb_service_area s1
        left join tb_company s2 on s1.id = s2.area where 1=1
        <if test="condition.area != null and condition.pageSize!= ''">
            and s1.area like CONCAT('%',#{condition.area},'%')
        </if>
    </select>

    <!--    <delete id="deleteAffiche" parameterType="com.cykj.housewifery.bean.Affiche">-->
    <!--        delete from tb_affiche where id = #{id}-->
    <!--    </delete>-->

    <!--    <insert id="addTAffiche" parameterType="com.cykj.housewifery.bean.Affiche">-->
    <!--        insert into tb_affiche(title,describes,releasr_date)-->
    <!--        values (#{affiche.title},#{affiche.describes},#{affiche.releasrDate})-->
    <!--    </insert>-->


</mapper>
