<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.AfterSalesMapper">
    <select id="getafterSalesCount" resultType="int">
        select count(*) from tb_after where order_id in(select id from tb_order where company = #{companyId})
        <if test="state!=null and state!='' and state!=-1">
            and state = #{state}
        </if>
        <if test="startDate!=null and startDate!=''">
            and time >=#{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            and time &lt;= #{endDate}
        </if>
    </select>

    <select id="getAfterSalesList" resultType="AfterSales">
        select a.id,a.order_id,a.time,a.after_why,p.name stateName,p.value,a.house_id from tb_after a,tb_params p
        where a.order_id in (select id from tb_order where company = #{companyId})
        and p.type='after_sales_state' and p.value = a.state
        <if test="state!=null and state!='' and state!=-1">
            and a.state = #{state}
        </if>
        <if test="startDate!=null and startDate!=''">
            and a.time >=#{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            and a.time &lt;= #{endDate}
        </if>
        order by a.id desc limit #{pageNum},#{limit}
    </select>

</mapper>