<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.CompanyMapper">

    <select id="allDate" resultType="java.lang.String">
        select a.Date from ( select curdate() - INTERVAL (a.a + (10 * b.a) + (100 * c.a)) DAY as Date
        from (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union
        all select 5 union all select 6 union all select 7 union all select 8 union all select 9) as a
        cross join (select 0 as a union all select 1 union all select 2 union all select 3 union all select 4 union all
        select 5 union all select 6 union all select 7 union all select 8 union all select 9) as b cross join (select 0 as a
        union all select 1 union all select 2 union all select 3 union all select 4 union all select 5 union all select 6
        union all select 7 union all select 8 union all select 9) as c ) a where a.Date between #{startDate} and #{endDate}
    </select>

   <select id="totalCompany" resultType="int">
    select count(*) from tb_company where state=2 and date_format(entry_date,'%Y-%m-%d') = #{date}
   </select>

    <select id="lineCompany" resultType="int">
     select count(*) from tb_company where state=2 and date_format(entry_date,'%Y-%m-%d') &lt;= #{date}
    </select>


    <select id="companyMap" resultType="MapBean">
    select s.area name,count(c.id) value from tb_company c,tb_service_area s where c.area=s.id and c.state=2 group by c.area
    </select>

</mapper>