<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.EvaluationMapper">
    <!--    用户评价的查询-->
    <select id="evaluation" resultType="UserEvaluation" >
   select  (select name from tb_employee where id=employee) employee, (select name from tb_company where id=company) company,
       order_time,cost,(select name from  tb_params where value=order_state and type="evaluation_state") order_state from tb_order

        limit #{pageNum},#{limit}
    </select>

    <select id="getCountCompany" resultType="int">
        select count(*) from tb_order
        <where>
            <if test="company!=null and company!=''">
                and company =(select id from tb_company where name like concat('%',#{company},'%'))
            </if>
        </where>
    </select>

    <select id="getKnowCountOrder" resultType="com.cykj.housewifery.bean.Order">
                select count(*) from tb_order
  </select>



    <insert id="add" parameterType="User"  >
        insert into tb_user (account,password,gender,phone,address) value (#{account},#{password},#{gender},#{phone},#{address})
    </insert>

</mapper>
