<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.ParamsMapper">

   <select id="findParams" resultType="java.lang.Object">
    select name from tb_params where type = #{arg0}
   </select>

    <select id="findTime" resultType="java.lang.Object">
    select time from tb_time
   </select>

    <select id="findAllAfterSalesState" resultType="param">
        select id,type,name,value from tb_params where type='after_sales_state'
    </select>
</mapper>