<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.PostDemandMapper">

    <insert id="getDemand" parameterType="com.cykj.housewifery.bean.Demand">
        insert into tb_demand(address,class_service,service_count,title,described,phone)
        values (#{address},#{classService},#{serviceCount},#{title},#{described},#{phone})
    </insert>

</mapper>