<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.ServiceMapper">

    <select id="getServiceCount" resultType="int">
        select count(*) from tb_service_type s,tb_service_type s1 where s.pid = s1.id
    </select>

    <select id="getServiceList" parameterType="layuiJson" resultType="companyService">
    select t.id,t.name,t.typename,c2.apply_date,c2.name stateName from
    (select s.id,s.type_name name,s1.type_name typename from tb_service_type s,tb_service_type s1 where s.pid = s1.id) t left join
        (select c.service_type_id,c.apply_date,p.name from tb_company_service c,tb_params p where c.company_id=#{condition.companyId} and c.state = p.value and p.type = 'service_application_state') c2 on
     c2.service_type_id = t.id limit #{pageNum},#{limit};
    </select>

    <select id="findServiceType" parameterType="map" resultType="int">
        select count(*) from tb_company_service c,tb_service_type s where c.service_type_id=s.id and c.company_id = #{companyId}
        and s.id = (select id from tb_service_type where id = (select pid from tb_service_type where id= #{id}))
    </select>

    <insert id="insertCompanyService" parameterType="companyService">
        insert into tb_company_service(company_id,service_type_id,state) values (#{companyId},#{serviceTypeId},#{stateName})
    </insert>

    <select id="getServiceTypeCount" resultType="int">
        select count(*) from tb_service_type where pid =0;
    </select>

    <select id="getServiceTypeList" parameterType="layuiJson" resultType="companyService">
        select s.id,s.type_name,t.apply_date,t.name stateName from tb_service_type s left join
        (select s.service_type_id,p.name,s.apply_date from tb_company_service s,tb_params p where s.company_id = #{condition.companyId}
        and s.state = p.value and p.type='service_application_state') t on s.id=t.service_type_id where s.pid = 0 limit #{pageNum},#{limit}
    </select>

    <update id="updateCompanyService" parameterType="companyService">
        update tb_company_service set state = #{stateName} where company_id = #{companyId} and service_type_id = #{serviceTypeId}
    </update>

    <select id="getServiceTypeByCompanyId" parameterType="string" resultType="serviceType">
        select s.id,s.type_name from tb_service_type s,tb_company_service c where s.id = c.service_type_id and c.company_id=#{value} and s.pid = 0
    </select>
</mapper>