<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.TrainMapper">

    <select id="getTrainCount" resultType="int">
        select count(*) from tb_train
    </select>

    <select id="selTrain" parameterType="com.cykj.housewifery.bean.LayuiJson" resultType="Train">

    select t.id,title,content,length,p.name credential,url from tb_train t left join tb_params p
    select t.id,date_format(start_date,'%Y-%m-%d') start_date,date_format(end_date,'%Y-%m-%d') end_date,title,content,length,p.name credential from tb_train t left join tb_params p
    on t.credential=p.value where type='credential' limit #{pageNum},#{limit}
    </select>

    <select id="findTrainById" resultType="Train">
        select t.id,title,date_format(start_date,'%Y-%m-%d') start_date,date_format(end_date,'%Y-%m-%d') end_date,start_time,end_time,content,
        count,length,p.name credential from tb_train t ,tb_params p where t.credential=p.value and type='credential' and t.id=#{arg0}
    </select>

    <update id="updateTrain" parameterType="Train">
    update tb_train set title=#{title},start_date=#{startDate},end_date=#{endDate},start_time=#{startTime},
    end_time=#{endTime},content=#{content},count=#{count},length=#{length},credential=
    (select value from tb_params where type='credential' and name=#{credential}) where id=#{id}
    </update>

    <insert id="addTrain" parameterType="Train">
        insert into tb_train(title,start_date,end_date,start_time,end_time,content,count,length,credential,url)
        values(#{title},#{startDate},#{endDate},#{startTime},#{endTime},#{content},#{count},#{length},
        (select value from tb_params where name=#{credential} and type='credential'),#{url})
    </insert>

    <delete id="delTrain">
        delete from tb_train where id=#{arg0}
    </delete>

    <select id="barTrain" resultType="int">
        select count(*) from tb_train where date_format(start_date,'%Y-%m-%d') = #{date}
    </select>

    <select id="lineTrain" resultType="int">
        select count(*) from tb_train where date_format(start_date,'%Y-%m-%d') &lt;= #{date}
    </select>

    <insert id="employeeApply">
        insert into tb_employee_train (employee, train) values
        <foreach collection="list" item="employee" index="index" separator=",">
            (#{employee.number}, #{trainId})
        </foreach>
    </insert>

</mapper>