<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.housewifery.mapper.UserMapper">
<!--    用户登录-->
    <select id="login" resultType="User" parameterType="User">
        select * from tb_user where account = #{account} and password = #{password}
  </select>
<!--    用户的注册-->
    <insert id="add" parameterType="User"  >
        insert into tb_user (name ,account,password,gender,phone,address,url) value (#{name},#{account},#{password},#{gender},#{phone},#{address},'http://localhost:8080/static/images/gg1.jpg')
    </insert>

    <select id="barUser" resultType="int">
        select count(*) from tb_user where date_format(reg_date,'%Y-%m-%d') = #{date}
    </select>

    <select id="lineUser" resultType="int">
        select count(*) from tb_user where date_format(reg_date,'%Y-%m-%d') &lt;= #{date}
    </select>

    <select id="findUserByAccount" parameterType="string" resultType="user">
        select account, name, password, gender, phone, a.address, integral, url, reg_date, money,bank_card from tb_user u,tb_address a where u.account=a.user_id and u.account = #{value}
    </select>

    <select id="getRecordsCount" resultType="int">
        select count(*) from tb_consump where user_id = #{value}
    </select>

    <select id="getRecordsList" resultType="Consump">
        select c.consump_time, c.consump_ting, c.consump_money, c.server, c.server_classification, c1.name storeName, c.order_number from tb_consump c,
        tb_company c1 where c.store_name = c1.id and c.user_id = #{account} limit #{pageNum},#{limit}
    </select>

    <update id="setBankCard">
        update tb_user set bank_card = #{bankCard} where account = #{account}
    </update>

    <update id="consumption">
        update tb_user set money =money - #{money} where money>=#{money} and account=#{account}
    </update>

    <insert id="insertRecords" parameterType="consump">
        insert into tb_consump(user_id, consump_ting, consump_money) values (#{userId},#{consumpTing},#{consumpMoney})
    </insert>

    <update id="topUp">
        update tb_user set money =money + #{money} where account=#{account}
    </update>

    <select id="getAddCount" resultType="int">
        select count(*) from tb_address where user_id=#{account}
    </select>

    <select id="getAddress" resultType="Address">
    select id,address from tb_address where user_id=#{account} limit #{pageNum},#{limit}
    </select>

    <update id="updAddress">
        update tb_address set address=#{address} where id=#{id}
    </update>
    <delete id="delAddress">
        delete from tb_address where id=#{id}
    </delete>
    <insert id="addAddress">
        insert into tb_address(address,user_id) values (#{address},#{account})
    </insert>
</mapper>
